
            <header text="Catches"></header>
            <messages></messages>
            <subheader text="New Catch"></subheader>
            <form name="form">
              <div class="row" style="padding: 5px;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="session" class="required-input">Venue</label>
                    <select id="session" name="session" ng-model="$ctrl.catch.session" class="form-control" ng-options="session.id as (session.date + ' - ' + session.venueName) for session in $ctrl.sessionModel.sessions" required></select>
                    <div ng-messages="form.session.$error" ng-show="form.session.$touched && form.session.$invalid" class="error-text">
                      <div ng-message="required">{{$ctrl.messageModel.requiredSelect}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group form-buttons">
                    <button type="submit" ng-click="$ctrl.catchModel.insertCatch()" class="btn btn-primary" ng-disabled="form.$invalid">
                      <span class="fa fa-plus fa-lg fa-icon"></span> Add
                    </button>
                    <button type="reset" ng-click="$ctrl.clearCatch()" class="btn btn-info">
                      <span class="fa fa-eraser fa-lg fa-icon"></span> Clear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <br />
          <subheader text="Past Catches" subtext="({{$ctrl.catchModel.catches.length}} found)">
            <a class="refresh-icon" href="#" ng-click="$ctrl.refreshCatches()">
              <span class="fa fa-refresh fa-lg"></span>
            </a>
          </subheader>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Session</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="catch in $ctrl.catchModel.catches">
                <td>{{catch.id}}</td>
                <td><select id="session" ng-model="catch.session" class="form-control" ng-options="session.id as (session.date + ' - ' + session.venueName) for session in $ctrl.sessionModel.sessions"></select></td>
                <td><a href="#" ng-click="$ctrl.catchModel.updateCatch(catch)"><span class="fa fa-pencil fa-lg fa-icon"></span></a> <a href="#" ng-click="$ctrl.catchModel.deleteCatch(catch)"><i class="fa fa-trash fa-lg fa-icon"></i></a></td>
              </tr>
              <tr>
                <td colspan="8" style="text-align: right;">{{$ctrl.catchModel.catches.length}} found</td>
              </tr>
            </tbody>
          </table>
