            <header text="Admin: Venues"></header>
            <messages></messages>
            <subheader text="New Venue"></subheader>
            <form name="form">
              <div class="row" style="padding: 5px;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="code" class="required-input">Code</label>
                    <input id="code" name="code" type="text" class="form-control form-input-sm" ng-model="$ctrl.venue.code" maxlength="4" required ng-minlength="{{$ctrl.codeLength}}" only-alpha></input>
                    <div ng-messages="form.code.$error" ng-show="form.code.$touched && form.code.$invalid" class="error-text">
                      <div ng-message="required">{{$ctrl.messageModel.requiredInput}}</div>
                      <div ng-message="minlength">{{$ctrl.messageModel.minLength}}{{$ctrl.codeLength}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control" ng-model="$ctrl.venue.name"></input>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="comments">Comments</label>
                    <input id="comments" type="text" class="form-control" ng-model="$ctrl.venue.comments"></input>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 5px;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="bodyOfWater" class="required-input">Body Of Water</label>
                    <select id="bodyOfWater" name="bodyOfWater" ng-model="$ctrl.venue.bodyOfWater" class="form-control" ng-options="bodyOfWater.code as bodyOfWater.name for bodyOfWater in $ctrl.bodyOfWaterModel.bodiesOfWater" required></select>
                    <div ng-messages="form.bodyOfWater.$error" ng-show="form.bodyOfWater.$touched && form.bodyOfWater.$invalid" class="error-text">
                      <div ng-message="required">{{$ctrl.messageModel.requiredSelect}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group">
                    <label for="rates">Rates</label>
                    <input id="rates" type="text" class="form-control" ng-model="$ctrl.venue.rates"></input>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group form-buttons">
                    <button type="submit" ng-click="$ctrl.insertVenue()" class="btn btn-primary" ng-disabled="form.$invalid">
                      <span class="fa fa-plus fa-lg fa-icon"></span> Add
                    </button>
                    <button type="reset" ng-click="$ctrl.clearVenue()" class="btn btn-info">
                      <span class="fa fa-eraser fa-lg fa-icon"></span> Clear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <br />
          <subheader text="Current Venues" subtext="({{$ctrl.venueModel.venues.length}} found)">
            <a class="refresh-icon" href="#" ng-click="$ctrl.refreshVenues()">
              <span class="fa fa-refresh fa-lg"></span>
            </a>
          </subheader>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Code</th>
                <th>Body Of Water</th>
                <th>Name</th>
                <th>Comments</th>
                <th>Rates</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="venue in $ctrl.venueModel.venues">
                <td>{{venue.code}}</td>
                <td><select id="bodyOfWater" ng-model="venue.body_of_water" class="form-control" ng-options="bodyOfWater.code as bodyOfWater.name for bodyOfWater in $ctrl.bodyOfWaterModel.bodiesOfWater"></select></td>
                <td><input id="name" type="text" class="form-control" ng-model="venue.name"></td>
                <td><input id="comments" type="text" class="form-control" ng-model="venue.comments"></td>
                <td><input id="rates" type="text" class="form-control" ng-model="venue.rates"></td>
                <td><a href="#" ng-click="$ctrl.venueModel.updateVenue(venue)"><span class="fa fa-pencil fa-lg fa-icon"></span></a> <a href="#" ng-click="$ctrl.venueModel.deleteVenue(venue.code)"><i class="fa fa-trash fa-lg fa-icon"></i></a></td>
              </tr>
              <tr>
                <td colspan="8" style="text-align: right;">{{$ctrl.venueModel.venues.length}} found</td>
              </tr>
            </tbody>
          </table>
