body {
  color: #666;
}

input[type="text"], select {
    border: solid 1px #CCC;
    height: 30px;
    padding: 4px;
    margin: 0px;
}

/* custom classes */
.alert-a:hover {
  text-decoration: none;
}

.error-text {
  color: #f30c08;
}

.form-buttons {
  margin: 15px 0px 0px 0px;
}

.form-input-sm {
  max-width: 130px;
}

.refresh-icon {
  float: right;
  margin: 5px;
}

.required-input:after {
  content: '*';
}

.subheader {
  font-size: 20px;
  display: inline;
}

.subheader span {
  font-size: 15px;
}

/* bootstrap overrides */
.container {
    padding: 0 2%;
}

.form-control {
  height: 30px;
}

.form-group {
  margin-bottom: 0px;
}

label {
  margin: 0px;
}

.well {
  border: 0px;
  margin: 10px 0px 5px 0px;
  padding: 5px;
}
