<div>
  <a href="#" ng-click="$ctrl.messageModel.clearSuccessMessage()" class="alert-a"><div class="alert alert-success" ng-show="$ctrl.messageModel.successMessage">{{$ctrl.messageModel.successMessage}}</div></a>
  <a href="#" ng-click="$ctrl.messageModel.clearErrorMessage()" class="alert-a"><div class="alert alert-danger" ng-show="$ctrl.messageModel.errorMessage">{{$ctrl.messageModel.errorMessage}}</div></a>
  <a href="#" ng-click="$ctrl.messageModel.clearInfoMessage()" class="alert-a"><div class="alert alert-info" ng-show="$ctrl.messageModel.infoMessage">{{$ctrl.messageModel.infoMessage}}</div></a>
</div>
